// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/azure-blue.css';
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'quill/dist/quill.snow.css';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

html,
body {
  height: 100%;
  font-weight: 400;
}

body {
  margin: 0;
}

.ql-container {
  font-family: 'Inter', 'Helvetica Neue', 'sans-serif';
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  box-shadow: none;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48;
}

[multiple] {
  appearance: unset;
  background-color: unset;
  border-color: unset;
  border-width: 0;
  border-radius: unset;
  padding-top: unset;
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
  font-size: unset;
  line-height: unset;
  --tw-shadow: 0 0 #0000;
}

.mdc-notched-outline__notch {
  border-right: 0 !important;
}

mat-card {
  @include mat.elevation(0);
}

mat-card-header {
  margin-bottom: 1rem;
}

mat-card-footer {
  @apply p-2;
}

.mdc-card__actions {
  @apply gap-2;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
  padding-top: 0.5rem !important;
}
